@tailwind base;
@tailwind components;
@tailwind utilities;
.sidebar-icon{
  @apply h-6 w-6 inline-block mr-2;
}
.sidebar-item{
  @apply text-white text-xl flex items-center mb-2 px-3 py-2 hover:bg-black hover:rounded-lg;
}
.usertable-cards{
  @apply flex items-center bg-white rounded-md shadow-md px-4 py-6;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
